.footer {
    width: 100%;
    background-color: #282828;
    color: whitesmoke;
    gap: 7px;
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-flow: column;
        align-items: center;
    }


    &-head {
        font-family: 'Shrikhand', cursive;
    }

    &-options {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }
    }
}