.header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-arrow {
        font-size: 24px;
        position: relative;
        left: -53px;
        bottom: -5px;
        color:  $secondary-color;
    }
}

.image-holder {
    display: flex;
    justify-content: center;
}

.menu-img {
    width: 100%;
    height: 250px;
    object-fit: cover;

    @include desktop {
        display: flex;
        align-self: center;
    }
}

.menu-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -35px;
    position: relative;
    z-index: 10000;

    @include desktop {
        width: 100%;
    }

    background-color: whitesmoke;
    border-radius: 35px 35px 0 0;
    padding-bottom: 15px;
}

.menu-subsections {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 375px;

    @include tablet {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}

.menu-head {
    position: relative;
    width: 365px;
    padding-top: 35px;
    padding-left: 10px;

    &__title {
        font-family: shrikhand;
        font-size: 24px;
    }

    &__heart {
        position: absolute;
        right: 10px;
    }
}

.course-head {
    // border-bottom: 3px solid $tertiary-color;
    padding-bottom: -30px;
    margin-left: 15px;

    &__underbar {
        width: 40px;
        height: 3px;
        background-color: $tertiary-color;
        margin: 15px;
    }
}

.item-card {
    margin: 10px;
    width: 360px;
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 15px;
    overflow: hidden;

    &--first {
        animation: menu-loader .5s linear forwards;
    }

    &--second {
        animation: menu-loader .5s linear .2s forwards;
    }    
    &--third {
        animation: menu-loader .5s linear .4s forwards;
    }
    &--fourth {
        animation: menu-loader .5s linear .6s forwards;
    }



    &__animation {
        margin: 0;
        padding: 0;
        width: 440px;
        height: 80px;
        gap: 2px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        transition: width .5s ease;

        &:hover {
            width: 360px;
        }

        &:hover i {
            animation: spin .5s linear forwards;
        }

        &:hover {
            cursor: pointer;
        }

    }

    &__info {
        width: 300px;
        height: 80px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__head {
        // margin-top: 10px;
        // margin-left: 10px;
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }

    &__text {
        // margin-left: 10px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__cost {
        width: 60px;
        // height: 80px;
        font-weight: bold;
        // margin-left: 10px;
        margin: 0;
        padding-bottom: 10px;
    }

    &__checkbox {
        width: 80px;
        height: 80px;
        background-color: $tertiary-color;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            background-color: white;
            border-radius: 50%;
            padding: 3px;
            color: $tertiary-color;
        }
    }

}

@keyframes menu-loader {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes checkbox-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.order {
    &-box {
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        justify-content: center;
    }

    &-button {
        background-image: linear-gradient(to bottom right, $secondary-color, $primary-color );
        color: white;
        box-shadow: 0 3px 3px #d3d3d3;
        border-radius: 30px;
        width: 200px;
        height: 55px;
        font-size: 18px;
        border: 0;
    }
}