.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    &-arrow {
        font-size: 24px;
        position: relative;
        left: -53px;
        bottom: -5px;
    }
}

.menu-img {
    width: 375px;
}

.menu-holder {
    width: 375px;
    background-color: whitesmoke;
    border-radius: 35px 35px 0 0;
    padding-bottom: 15px;
}

.menu-head {
    margin: 15px;
    padding-top: 35px;

    &__title {
        font-family: shrikhand;
        font-size: 24px;
    }
    &__heart {
        position: absolute;
        right: 10px;
    }
}

.course-head {
    border-bottom: 3px solid $tertiary-color;
    padding-bottom: 3px;
    margin-left: 15px;
}

.item-card {
    margin: 10px;
    width: 360px;
    background-color: white;
    border-radius: 15px;
    gap: 2px;
    display: flex;
    flex-direction: column;

    &__head {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    &__text {
        margin-left: 10px;
    }

    &__cost {
        font-weight: bold;
        margin-left: 10px;
    }
}

.order {
    &-box {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    }

    &-button {
        background-image: linear-gradient(to bottom right, $secondary-color, $primary-color );
        color: white;
        box-shadow: 0 3px 3px #d3d3d3;
        border-radius: 30px;
        width: 250px;
        height: 55px;
        font-size: 18px;
        border: 0;
    }
}